.banner {
  --width: 60vw;
  --height: calc(var(--width) * 9 / 16);
  width: var(--width);
  height: var(--height);
  margin: 0 auto;
}

.banner .container {
  background-color: rgba(0, 0, 0, .7);
  width: var(--width);
  height: var(--height);
}

.content {
  font-family: var(--head-font-family);
  font-weight: 700;
  font-size: var(--xl);
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 5px rgba(146, 146, 146, 0.2);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 0.2rem solid #fff;
  transition: width 0.15s ease-in-out;
}

.content:hover::after {
  width: 90%;
}

.prev, .next {
  position: absolute;
  top: calc(70vw * 7 / 16 / 2);
  font-size: var(--ml);
  opacity: .9;
  cursor: pointer;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

@media only screen and (max-width: 768px) {
  .prev, .next {
    display: none;
  }
  .content {
    font-size: var(--ml);
  }

  .banner {
    --width: 98vw;
    --height: calc(var(--width) * 9 / 16);
  }
}