.content {
  padding: 7rem 0;
  margin: 0 auto;
  max-width: 90rem;
  font-size: var(--sm);
  line-height: 3.3rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  text-align: justify;
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 8rem;
  font-family: var(--main-font-family);
} 

.noSplit {
  display: block;
}

.title {
  /* width: 30rem; */
  /* text-align: left; */
}

.title h1{
  padding-bottom: 2.4rem;
  font-family: var(--head-font-family);
  font-size: var(--m);
  font-weight: 700;
  color: var(--bg-color);
  text-align: left;
  line-height: 2.2rem;
}

.title p {
  color: var(--black);
  font-family: var(--main-font-family);
  font-size: var(--xl);
  font-weight: 200;
  margin-bottom: 2.2rem;
  /* line-height: 3.3rem; */
  letter-spacing: 0.03rem;
}

.circle {
  /* margin: 0 auto; */
  /* max-width: 40rem;
  height: auto; */
  border-radius:50%;
  width: 35rem;
  height: 35rem;
  object-fit:cover;
  border: 0.2rem solid var(--white);
}

.contentBox:nth-child(even),
.contentBox:nth-child(even) :is(.title h1, .title p) {
  background: var(--bg-color);
  color: #fff;
}

.contentBox:nth-child(even) h1 {
  font-weight: 600;
}

.contentBox:nth-child(even) .content {
  grid-template-columns: auto 300px;
}

.contentBox:nth-child(even) .body {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.body {
  white-space: pre-wrap;
}

/* .md h1 {
  color: red;
}

.md h2 {
  color: blue;
}

.md strong {
  color: green;
} */


@media only screen and (max-width: 1024px) {
  
  .content {
    display: block;
    padding: 4.8rem;
    margin-bottom: 1rem;
    /* line-height: 3rem; */
  }

  .title {
    font-weight: 500;
    display: flex;
    width: auto;
    flex-direction: column-reverse;
  }

  #imgBox {
    width: 100%;
  }
  .circle {
    /* margin: 0 auto; */
    display: block;
    width: 30rem;
    height: 30rem;
    margin: 0 auto 4rem auto;

    /* padding: 50px; */
  }


}

.quote {
  /* margin: 0; */
  /* background: #eee; */
  padding: 3rem;
  line-height: normal;
  letter-spacing: normal;
  font-style: italic;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.figcaption {
  font-style: normal;
  text-align: right;
}

.content:last-child {
  margin-bottom: 0;
}