.content {
  padding: 7rem 0;
  margin: 0 auto;
  /* max-width: 90rem; */
  max-width: 70ch;
  width: 60rem;
  /* width: 70ch; */
  font-size: var(--sm);
  line-height: 3.3rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  /* text-align: justify; */
  display: grid;
  grid-template-columns: 20rem auto;
  column-gap: 8rem;
  font-family: var(--main-font-family);
} 

.noSplit {
  display: block;
}

.title h1{
  padding-bottom: 4rem;
  font-family: var(--head-font-family);
  font-size: var(--m);
  font-weight: 700;
  color: var(--bg-color);
  text-align: left;
  line-height: 2.6rem;
}

.title p {
  color: var(--black);
  font-family: var(--main-font-family);
  font-size: var(--xl);
  font-weight: 200;
  margin-bottom: 1.5rem;
  line-height: 3.8rem;
  letter-spacing: 0.03rem;
}

.circle {
  border-radius:50%;
  width: 30rem;
  height: 30rem;
  object-fit:cover;
  border: 0.2rem solid var(--white);
}

.contentBox:nth-child(even),
.contentBox:nth-child(even) :is(.title h1, .title p) {
  background: var(--bg-color);
  color: #fff;
}

.contentBox:nth-child(even) h1 {
  font-weight: 600;
}

.contentBox:nth-child(even) .content {
  grid-template-columns: auto 20rem;
}

.contentBox:nth-child(even) .body {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.body {
  /* white-space: pre-wrap; */
  white-space: pre-wrap;
  max-width: 70ch;
}


/* .md h1 {
  color: red;
}

.md h2 {
  color: blue;
}

.md strong {
  color: green;
} */


@media only screen and (max-width: 1024px) {
  
  .content {
    display: block;
    padding: 4.8rem;
    margin-bottom: 1rem;
    width: auto;
    /* line-height: 3rem; */
  }

  .title {
    font-weight: 500;
    display: flex;
    width: auto;
    flex-direction: column-reverse;
  }

  #imgBox {
    width: 100%;
  }
  .circle {
    /* margin: 0 auto; */
    display: block;
    width: 30rem;
    height: 30rem;
    margin: 0 auto 4rem auto;

    /* padding: 50px; */
  }


}

.quote {
  /* margin: 0; */
  /* background: #eee; */
  padding: 3rem;
  line-height: normal;
  letter-spacing: normal;
  font-style: italic;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.figcaption {
  font-style: normal;
  text-align: right;
}

.content:last-child {
  margin-bottom: 0;
}