.modalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
}

.modal {
  max-width: 90vw;
  width: 50rem;
  padding: 3.4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.modal h1 {
  margin-bottom: 1rem;
  font-family: var(--head-font-family);
  font-size: var(--sm);
}

.modal p {
  opacity: .7;
  font-size: var(--xxs);
}

.modal button {
  margin-top: 3rem;
  float: right;
  padding: 1rem 3rem;
}