@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

#logoBox {
  height: var(--nav-height);
  margin: auto 0;
}

#logo{
  height: 100%;
  float:left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#logoUp {
  color: crimson;
  font-family: 'Caveat', cursive;
  font-size: var(--xxl);
  text-align: center;
}

#logoDown {
  color: #333;
  font-family: var(--head-font-family);
  font-size: var(--s);
  font-weight: 600;
  text-align: center;

  transition-property: color;
  transition-duration: 0.10s;
  transition-timing-function: linear;
}

#logo:hover #logoDown {
  color: var(--main-color);
}

@media only screen and (max-width: 768px) {

  #logo {
    float: none;
  }
} 

