@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

#logoBox {
  height: var(--nav-height);
  margin: auto 0;
  display: flex;
  align-items: center;
}

#logo{
  height: 100%;
  /* float:left; */
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#img {
  display: inline-block;
  width: 48px;
  height: 48px;
}

#title {
  color: crimson;
  font-family: 'Caveat', cursive;
  font-size: var(--xl);
  text-align: center;
}

#description {
  color: #333;
  font-family: var(--head-font-family);
  font-size: var(--xs);
  font-weight: 600;
  text-align: center;

  /* padding-left: 4rem; */
  padding-left: 1rem;

  /* transition-property: color;
  transition-duration: 0.10s;
  transition-timing-function: linear; */
}

/* #logo:hover #description {
  color: var(--main-color);
} */

@media only screen and (max-width: 768px) {

  #logoBox {
    /* float: none; */
    margin: 0 auto;
  }
} 

