#menuLinks {
  list-style-type: none;
  margin: auto 0;
}

#menuLinks li {
  float: left;
  font-family: var(--head-font-family);
  font-size: var(--sm);
  font-weight: 600;
  padding-left: 24px;
  height: var(--nav-height);
}

#menuLinks li a {
  line-height: var(--nav-height);
  text-align: center;
  text-decoration: none;
  color: var(--black);
  transition: color 0.06s;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

#menuLinks li a:active, .active {
  color: var(--main-color);
}

#menuLinks li a:hover {
  color: var(--main-color);
}

/* ICONS */

.icon {
  font-size: var(--ml);
  padding-left: 16px;
}

#fb {
  color: #3B5998;
}

#linkedin {
  color: #007bb5;
}

#fb:hover, #linkedin:hover {
  color: var(--main-color);
}

@media only screen and (max-width: 1024px) {
  .icon {
    padding: 0;
  }

  #menuLinks {
    text-align: center;
  }
  
  #menuLinks, #menuLinks li {
    float: none;
  }
  
}