#nav {
  background-color: #fff;
  overflow: hidden;
  z-index: 100;
  /* min-height: var(--nav-height); */
  line-height: 2.8rem;
  padding: 1.4rem 15rem;
  position: sticky;
  top: 0;
  -webkit-box-shadow: inset 0px -1px 5px -1px rgba(204,204,204,0.61);
  -moz-box-shadow: inset 0px -1px 5px -1px rgba(204,204,204,0.61);
  box-shadow: inset 0px -1px 5px -1px rgba(204,204,204,0.61);

  display: grid;
  grid-template-columns: 1fr auto;

}


@media only screen and (max-width: 768px) {
  #nav {
    padding: 1.4rem 2.5rem;
  }
}