#sidebar {
  padding-top: 100px;
  /* margin: 0 auto; */
}

#categories {
  font-size: var(--sm);
  opacity: .7;
  padding-bottom: 8px;
  font-family: var(--head-font-family);
}

#sidebar ul {
  list-style-type: none;
}

#sidebar ul li {
  font-size: var(--s);
  margin: 16px auto;
}

#sidebar a::first-letter {
  text-transform: capitalize;
}

#sidebar a {
  display: inline-block;
  color: var(--black);
}

#sidebar a::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid var(--main-color);
  transition: width 0.15s linear;
}

#sidebar a:hover {
  color: var(--main-color);
}

#sidebar a:hover::after {
  width: 120%;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    text-align: center;
    padding-top: 0;
    padding-bottom: 32px;
    /* margin: 0 auto; */
  }

} 