#sidebar {
  padding-top: 10rem;
  /* margin: 0 auto; */
}

#categories {
  font-size: var(--m);
  color: var(--bg-color);
  /* opacity: .7; */
  padding-bottom: 0.8rem;
  font-family: var(--head-font-family);
}

#sidebar ul {
  list-style-type: none;
}

#sidebar ul li {
  font-size: var(--xs);
  opacity: .7;
  margin: 1.6rem auto;
}

#sidebar a::first-letter {
  text-transform: capitalize;
}

#sidebar a {
  display: inline-block;
  color: var(--black);
}

#sidebar a::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 0.2rem solid var(--main-color);
  transition: width 0.15s linear;
}

#sidebar a:hover {
  color: var(--main-color);
}

#sidebar a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    text-align: center;
    padding-top: 0;
    padding-bottom: 5rem;
    /* margin: 0 auto; */
  }

} 